<nav id="nav-options">
    <ul>
        <li>
            <a class="icon-labeled" href="/user/reservation/events/{{ id }}">
                <i class="fa-regular fa-edit"></i>
                <span>Edit</span>
            </a>
        </li>
        <li>
            <a class="icon-labeled" href="/user/attendees/events/{{ id }}">
                <i class="fa-solid fa-people"></i>
                <span>Attendees</span>
            </a>
        </li>
    </ul>
</nav>