<div class="title-bar-trim-combo">
    <div class="title-bar">
        <i class="fal fa-check-circle"></i>
        <h2>Account Login Successful!</h2>
    </div>
    <div class="trim">
        <p class="text-muted">Please Complete the Intake Survey on the next page in <span data-redirect="/intake">5</span>s.</p>
    </div>
</div>