<h1>Hi {{ names }},</h1>

<p>This email is to notify you that your password has been reset. If this action was not done by you, it is strongly suggested the you reach out to a support team member.</p>