@mixin linear-gradient($direction, $color-stops...) {
	background: nth(nth($color-stops, 1), 1);
	background: -webkit-linear-gradient($direction, $color-stops);
	background:    -moz-linear-gradient($direction, $color-stops);
	background:     -ms-linear-gradient($direction, $color-stops);
	background:      -o-linear-gradient($direction, $color-stops);
	background: linear-gradient($direction, $color-stops);
}
@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}
	@-moz-keyframes #{$animation-name} {
		@content;
	}
	@-ms-keyframes #{$animation-name} {
		@content;
	}
	@-o-keyframes #{$animation-name} {
		@content;
	}
	@keyframes #{$animation-name} {
		@content;
	}
}

@mixin animation($str) {
	-webkit-animation: #{$str};
	-moz-animation: #{$str};
	-ms-animation: #{$str};
	-o-animation: #{$str};
	animation: #{$str};
}

/* Example usage
@include keyframes(slide-down) {
	0% { opacity: 1; }
	90% { opacity: 0; }
}

.element {
	width: 100px;
	height: 100px;
	background: black;
	@include animation('slide-down 5s 3');
}
*/

@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
	-o-transform: $transforms;
	transform: $transforms;
}

@mixin transition($args) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}