<div class="background-none">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 justify-content-center h-100">
        <div class="col align-self-center">
            <div class="card border-0">

                <div class="card-body">
                    <h5 class="card-title">
                        {{ name }}
                      
                    </h5>

                   

                    <hr>

                    <h5 class="card-title">Member Details</h5>

                  
                </div>
            </div>
        </div>
    </div>
</div>