<div class="text-center">
    <i class="fal fa-check icon-lg my-4" aria-hidden="true"></i>
    <h2 class="title-super-sm mt-0">Social Post Updated Successfully!</h2>
    <p class="text-muted">You will be redirected in <span data-redirect="/members/posts/social/manage">5</span>s.</p>
</div>