<nav id="nav-options">
    <ul>
        <li>
            <a class="icon-labeled" href="/user/edit/member-faqs/{{ id }}">
                <i class="far fa-edit"></i>
                <span>Edit</span>
            </a>
        </li>
        <li>
            <a class="icon-labeled" href="#" data-action="delete">
                <i class="far fa-trash"></i>
                <span>Delete</span>
            </a>
        </li>
    </ul>
</nav>