<div id="ajax-modal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>

                <div class="media">
                    <img class="align-self-center mr-3 img-thumbnail" src="{{ avatar }}" alt="{{ alt }}">

                    <div class="media-body">
                        <h5>{{ username }}</h5>
                        <p class="card-text">Looks like my post has no likes, yet. Why don't you be the first?</p>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <a class="btn btn-success btn-block" href="{{ link }}">View My Profile</a>
            </div>
        </div>
    </div>
</div>