<nav id="nav-options">
    <ul class="justify-content-center">
        <li>
            <a class="icon-labeled" href="/user/review/member-reports/messages/{{ id }}">
                <i class="fa-regular fa-gavel"></i>
                <span>Review</span>
            </a>
        </li>
    </ul>
</nav>