<span class="text-nowrap">
    {% if flags.verified %}
        <i class="fa-solid fa-badge-check"></i>
    {% else %}
        <i class="fa-light fa-badge"></i>
    {% endif %}
    {{ username }}
</span>