<div class="text-center">
    <i class="fal fa-check icon-lg" style="margin: 10px 0 30px;" aria-hidden="true"></i>
    <h2>Request Successful</h2>
    <h3>A Reset Password Link Has Been Sent</h3>
    <p>An email has been sent to {{ email }}.</p>
    <p>Please follow the link to change your password.</p>
    <p><b>You may need to check your spam folder.</b></p>
    <p>Please add <strong>{{ website.email }}</strong> to your whitelist.</p>
</div>