<nav id="nav-options">
    <ul>
        <li>
            <a class="icon-labeled" href="/user/edit/forms-intake/{{ id }}">
                <i class="fa-regular fa-edit"></i>
                <span>Edit</span>
            </a>
        </li>
        <li>
            <a class="icon-labeled" href="#" data-action="delete">
                <i class="fa-regular fa-trash"></i>
                <span>Delete</span>
            </a>
        </li>
    </ul>
</nav>