<div id="table-filter" class="form-group">
    <div class="select-wrap form-control">
        <select>
            {% for optgroup,options in categories %}
                <optgroup label="{{ optgroup }}">
                    {% for value,text in options %}
                        <option value="{{ value }}">
                            {{ text }}
                        </option>
                    {% endfor %}
                </optgroup>
            {% endfor %}
        </select>
        <div class="select-box"></div>
    </div>
</div>