<div class="dropdown">
    <button class="toolbar__btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="far fa-bars"></i>
    </button>

    <div class="dropdown-menu">
        <a class="dropdown-item" href="#" data-post-action="view-likes">View Likes</a>
        <a class="dropdown-item" href="{{ link }}">View Post</a>
    </div>
</div>