<div class="dropdown">
    <a href="#" class="toolbar__btn toolbar__btn-report {{ active ? 'toolbar__btn-active' : '' }}" onClick="showPostReportModal({{postId}})"  aria-expanded="false" rel="tooltip-post-report">
        <i class="far fa-exclamation-triangle"></i>
    </a>

    <div class="dropdown-menu">
        <h6 class="dropdown-header text-center py-0">Report Post</h6>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" data-post-action="report" data-type="Abusive Language">Abusive Language</a>
        <a class="dropdown-item" href="#" data-post-action="report" data-type="Criminal">Criminal</a>
        <a class="dropdown-item" href="#" data-post-action="report" data-type="Fake">Fake</a>
        <a class="dropdown-item" href="#" data-post-action="report" data-type="Fraudulent">Fraudulent</a>
        <a class="dropdown-item" href="#" data-post-action="report" data-type="Harassment">Harassment</a>
        <a class="dropdown-item" href="#" data-post-action="report" data-type="Hateful">Hateful</a>
        <a class="dropdown-item" href="#" data-post-action="report" data-type="Illegal">Illegal</a>
        <a class="dropdown-item" href="#" data-post-action="report" data-type="Inappropriate">Inappropriate</a>
        <a class="dropdown-item" href="#" data-post-action="report" data-type="Racist">Racist</a>
        <a class="dropdown-item" href="#" data-post-action="report" data-type="Spam">Spam</a>
    </div>
</div>