.icon-photo-boxes .info-box {
    position: relative;
    display: block;
    overflow: hidden;
    width: 25%;
    float: left;
    text-align: center;
    padding: 57px 30px 50px;
    background-size: cover;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -ms-background-size: cover !important;
    -o-background-size: cover !important;
    background-position-y: center !important;
    perspective: 400;
    -webkit-perspective: 400;
    -moz-perspective: 400;
    -ms-perspective: 400;
    -o-perspective: 400;
}

.icon-photo-boxes .info-box .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,78,111,0.8);
    z-index: 1;
}

.icon-photo-boxes .info-box .overlay.overlay-primary {
    background: rgba(0,78,111,0.8);
}

.icon-photo-boxes .info-box .overlay.overlay-accent {
    background: rgba(0,130,171,0.8);
}

.icon-photo-boxes .info-box .overlay.overlay-neutral {
    background: rgba(92,92,92,0.8);
}

.icon-photo-boxes .info-box .overlay.overlay-gray {
    background: rgba(68,68,68,0.8);
}

.icon-photo-boxes .info-box .overlay.overlay-black {
    background: rgba(39,39,39,0.8);
}

.icon-photo-boxes .info-box i,
.icon-photo-boxes .info-box h2 {
    position: relative;
    z-index: 2;
}

.icon-photo-boxes .info-box i {
    width: 150px;
    height: 150px;
    font-size: 55px;
    line-height: 144px;
    text-align: center;
    border: 3px solid #fff;
    border-radius: 50%;
    margin-bottom: 15px;
    color: #fff;
    text-shadow: 0 0 15px rgba(0,0,0,0.5), 0 0 30px rgba(0,0,0,0.5);
    box-shadow: 0 0 30px rgba(0,0,0,0.3), inset 0 0 30px rgba(0,0,0,0.3);
}

.icon-photo-boxes .info-box h2 {
    font-size: 1.3em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 10px rgba(0,0,0,0.7), 0 0 20px rgba(0,0,0,0.6);
}

.icon-photo-boxes .info-box:hover {
    text-decoration: none;
}

@media (max-width: 1100px) {
    .icon-photo-boxes .info-box i {
        width: 120px;
        height: 120px;
        font-size: 44px;
        line-height: 115px;
        border-width: 2px;
    }

    .icon-photo-boxes .info-box h2 {
        font-size: 1.2em;
    }
}

@media (max-width: 900px) {
    .icon-photo-boxes .info-box {
        width: 50%;
        padding: 45px 30px 38px;
    }

    .icon-photo-boxes .info-box i {
        width: 130px;
        height: 130px;
        font-size: 49px;
        line-height: 125px;
    }

    .icon-photo-boxes .info-box h2 {
        font-size: 1.3em;
    }
}

@media (max-width: 600px) {
    .icon-photo-boxes .info-box {
        width: 100%;
        padding: 35px 20px 28px;
    }

    .icon-photo-boxes .info-box i {
        width: 100px;
        height: 100px;
        font-size: 40px;
        line-height: 97px;
        margin-bottom: 10px;
    }
}

@media (max-width: 500px) {
    .icon-photo-boxes .info-box {
        padding: 32px 20px 25px;
    }

    .icon-photo-boxes .info-box i {
        width: 80px;
        height: 80px;
        font-size: 30px;
        line-height: 77px;
    }

    .icon-photo-boxes .info-box h2 {
        font-size: 1.2em;
    }
}

/* Remove the dark overlay */
.icon-photo-boxes .info-box .overlay,
.icon-photo-boxes .info-box:hover .overlay {
    background: none !important;
}
