@import "/css/_variables.scss";

$border-style: 3px solid $white;

@if $scheme-type == 'dark' {
	$border-style: 2px solid $neutral-xd;
} @else if $scheme-type == 'light' {
	$border-style: 3px solid $base;
}

.circle-info-buttons {
	border-top: $border-style;
	border-bottom: $border-style;
	background: $primary;
	padding: 30px;
	
	@if $scheme-type == 'dark' {
		background: $base-accent;
		border-color: $base-accent-xxl;
		border-width: 1px;
	} @else if $scheme-type == 'light' {
		background: $base-accent;
		border-color: $base-accent-xxd;
		border-width: 1px;
	}
	
	.circle-button {
		position: relative;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		overflow: hidden;
		width: 100%;
		max-width: 300px;
		height: 306px;
		margin: 25px auto;
		text-align: center;
		border: 4px solid $white;
		border-radius: 50%;
		background-size: cover;
		-webkit-background-size: cover!important;
		-moz-background-size: cover!important;
		-ms-background-size: cover!important;
		-o-background-size: cover!important;
		background-position-y: center!important;
		@include transition(all .3s cubic-bezier(0.42, 0, 0, 0.98));
		box-shadow: 0 0 0 rgba($black, .2);
		
		@if $scheme-type == 'dark' {
			border: $border-style;
			border-width: 3px;
		} @else if $scheme-type == 'light' {
			border: $border-style;
			border-width: 5px;
			box-shadow: -2px 2px 30px rgba($black, .15);
		}
		
		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba($black, .2);
			z-index: 1;
		}
		
		.circle-title {
			position: relative;
			z-index: 2;
			width: 100%;
			font-size: 1.2em;
			font-weight: 500;
			text-transform: uppercase;
			margin: 0 0 50px;
			background: $accent;
			border-top: $border-style;
			border-bottom: $border-style;
			padding: 15px 20px;
			color: #fff;
			text-decoration: none;
			text-shadow: 	0 0 5px rgba($accent-xd, .7),
							0 0 10px rgba($accent-xd, .6);
			box-shadow: 0 0 10px rgba($black, .5);
			
			@if $scheme-type == 'dark' {
				background: $base-accent-xl;
				text-shadow: none;
			} @else if $scheme-type == 'light' {
				background: rgba($base, .9);
				text-shadow: none;
				color: $text;
			}
		}
		
		&:hover {
			text-decoration: none;
			@include transform(scale(1.08));
			box-shadow: 0 13px 10px rgba($black, .2);
			
			@if $scheme-type == 'dark' {
				box-shadow: 0 13px 10px rgba($black, .4);
			}
		}
		
		@media(max-width: 1250px) and (min-width: 992px) {
			.circle-title {
				font-size: 1em;
				padding: 10px 20px;
				margin-bottom: 30px;
			}
		}
		
		@media(max-width: 991px) {
			.circle-title {
				font-size: 1.3em;
			}
		}
		
		@media(max-width: 767px) and (min-width: 576px) {
			.circle-title {
				font-size: 1em;
				padding: 10px 20px;
				margin-bottom: 30px;
			}
		}
		
		@media(max-width: 575px) {
			max-width: 270px;
			margin: 20px auto;
			
			.circle-title {
				font-size: 1.2em;
				margin-bottom: 40px;
			}
		}
	}
}