<div class="text-center">
    <i class="fal fa-check icon-lg" style="margin: 10px 0 30px;" aria-hidden="true"></i>
    <h2>Thank You!</h2>
    <p class="mb-4">If selected, one of our administrators will be in contact with you shortly!</p>
</div>