<div class="text-center">
    <i class="fal fa-check icon-lg" style="margin: 10px 0 30px;" aria-hidden="true"></i>
    <h2>Thank You!</h2>
    <p class="mb-4">We greatly appreciate you paying your application fee. A member of our team will be in contact with you soon!</p>
</div>