<div class="card p-0" data-ticket-id="{{ ticket.id }}">
    <div class="card-body">
        <ul class="list-group list-group-flush"></ul>
    </div>

    <div class="card-footer p-0" data-tinymce="align-toolbar-last-right no-border">
        <textarea id="message-pane-textarea" class="form-control" name="message" placeholder="Type your message..." aria-label="Type your message..."></textarea>
    </div>
</div>